<div class="header-page">

  <mat-toolbar class="navbar_page">
    <span class="logo">Logo</span>
    <span class="example-spacer-1"></span>
    <div class="search-bar">
    <div class="search-input">
      <span><i class="fa fa-search"></i></span><input type="search" class="form-control" placeholder="Search Mail..." id="Inputsearch1"
      aria-describedby="searchHelp">
    </div>
   </div>
    <span class="example-spacer"></span>
    <div class="loginRegisterBtns">
      <div class="settings-icon">
      <span><i class="fa fa-gear"></i></span>
    </div>
      <button class="btn registerBtn"  routerLinkActive="active">S</button>
    </div>
  </mat-toolbar>
</div>
