<div class="signup_page">
  <mat-toolbar class="above_page_line">
  </mat-toolbar>

  <div class="main_signup">
    <div class="logo_div">
      <img class="logoPic" src="/assets/company_logo.png" />
      <p class="logoTxt">Registration Form</p>
    </div>

    <div class="signup_card container">
      <div class="row">

        <div class="col-sm-9">
         <form class="signup-form">
          <div class="user-data-1 contrainer">
            <div class="row">

              <div class="firstNameContainer col-5">
                <span class="fNameRequired"> * </span><input type="text" class="form-control" placeholder="First Name" id="InputFName1"
                  aria-describedby="fNameHelp">
              </div>

              <div class="lastNameContainer col-5">
                <span class="lNameRequired"> * </span> <input type="text" class="form-control" placeholder="Last Name" id="InputLName1"
                aria-describedby="lNameHelp">
              </div>

              <div class="companyNameContainer col-9">
                <span class="cNameRequired"> * </span> <input type="text" class="form-control" placeholder="Company Name" id="InputCompany1"
                aria-describedby="CNameHelp">
              </div>

            </div>
          </div>

          <div class="user-data-2 contrainer">
            <div class="row">

              <div class="emailContainer col-9">
                <span class="emailRequired"> * </span><input type="email" class="form-control" placeholder="Email" id="InputEmail1"
                  aria-describedby="emailHelp">
              </div>

              <div class="phoneContainer col-9">
                <span class="phoneRequired"> * </span><input type="tel" class="form-control" placeholder="Phone" id="InputPhone1"
                  aria-describedby="phoneHelp">
              </div>

            </div>
          </div>

          <div class="user-data-3 contrainer">
            <div class="row">

              <div class="passwordContainer col-9">
                <span class="passwordRequired"> * </span><input type="password" class="form-control" placeholder="Password" id="InputPassword1"
                  aria-describedby="passwordHelp">
              </div>

              <div class="confirmPasswordContainer col-9">
                <span class="passwordRequired"> * </span><input type="password" class="form-control" placeholder="Confirm Password" id="InputCPassword1"
                  aria-describedby="confirmPasswordHelp">
              </div>

            </div>
          </div>

          <div class="user-data-4 contrainer">
            <div class="row">
              <div class="robotDiv col-6">
                <input type="checkbox" class="checkBoxInput"> <span>I'm not a robot</span>
              </div>

              <div class="col-3">
                <img src="/assets/robot.png" />
              </div>
            </div>
          </div>

          <div class="user-data-5 contrainer">
            <div class="row">
              <p>By creating an account, you agree to the Terms of Service. For more information about ArchISec's privacy practices, see the ArchISec Privacy Statement. We'll occasionally send you account-related emails.</p>
            </div>
          </div>

          <div class="buttonsContainter">
            <button type="button" class="btn signupBtn">Register</button>
            <button type="button" class="btn cancelBtn">Cancel</button>
          </div>
          </form>
        </div>

        <div class="col-sm-3 rightDiv">
          <img src="/assets/signup.png" class="signup-pic" />
        </div>

      </div>
    </div>

  </div>
</div>
