<div class="main_landing_page">

  <mat-toolbar class="navbar_page">
    <span class="logo">Logo</span>
    <span class="example-spacer"></span>
    <div class="navList">
      <ul>
        <li>Home</li>
        <li class="dropdown full-width">
          <span data-toggle="dropdown">Company<i class="fa fa-chevron-down"></i></span>
          <div class="dropdown-menu" role="menu">
            <div class="row">

              <div class="col-6 left-drop-down">

                <div class="left-title">
                  <p class="left-t">ArchISEC</p>
                </div>

                <div class="left-about">
                  <p class="about-p">About Us</p>
                  <p class="about-txt" style="width: 200px;">
                    Amiral Management Corporation SAE (“AMC”) is an Information and Communications<br>
                    Technology Services Company that is 100% owned by Amiral Holding.
                  </p>
                </div>

                <div class="left-team">
                  <p class="team-p">Team</p>
                  <p class="team-txt"> Our brilliant and dedicated team.</p>
                </div>

              </div>

              <div class="col-6 right-drop-down">

                <div class="right-title">
                  <p class="right-t">Contact Us</p>
                </div>

                <div class="right-message">
                  <p class="right-m"><i class="fa fa-envelope"></i> <span>Info@amiral.com</span></p>
                </div>

                <div class="right-phone">
                  <p class="right-ph"><i class="fa fa-phone"></i> <span>+201005800394</span></p>
                </div>

                <div class="right-comments">
                  <p class="right-co"><i class="fa fa-comments"></i> <span>Send us a Message</span></p>
                </div>
              </div>

            </div>
          </div>
        </li>
        <li>Why Use ArchISec platform?</li>
      </ul>
    </div>
    <span class="example-spacer"></span>
    <div class="loginRegisterBtns">
      <button class="btn loginBtn" routerLink="login" routerLinkActive="active">Login</button>
      <button class="btn registerBtn" routerLink="signup" routerLinkActive="active">Register</button>
    </div>
  </mat-toolbar>

  <div class="World">
    <div class="row">
      <div class="worldBG">
        <img class="pic1" src="/assets/giphy1.gif">
        <img class="pic2" src="/assets/ll.png" />
        <img class="pic3" src="/assets/ll.png" />
      </div>
    </div>

  </div>

  <div class="Introduction">
    <div class="container">
      <div class="row">
        <div class="col-12 first-intro">
          <div class="content">
            <p class="firstTxt">More than just a Mail</p>
            <p class="secondTxt">
              With Blockchain Technology for Highly secure Document Transfer
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 second-intro">
          <div class="content">
            <p class="thirdTxt">
              The ArchIsec Platform provides you with a Highly Secure way to
              upload and transfer documents using the Blockchain Technology in
              the form of a mail process which is very fast and reliable!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="worldBtns">
          <button class="btn btn-register">Register a Free Account</button>
          <button class="btn btn-demo">Demo</button>
        </div>
      </div>
    </div>
  </div>


  <div class="Slide-Show">
    <div class="row">
      <div class="carousel">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/200.jpg" class="d-block" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/assets/2.jpg" class="d-block" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/assets/100.jpg" class="d-block" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>
                  Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur.
                </p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="BlockChain-Content">

    <div class="row">
      <div class="col-12 blocks">
        <div class="content">
          <p class="p1">Providing A platform to ease your needs to deliver a document in a highly secure way without
            having to pay extra costs as well as transferring documents in fast and reliable way!
          </p>
          <p class="p2">
            Blockchain is a very-known term, which was used for the first time where Satoshi Nakamoto described Bitcoin
            in 2008. Bitcoin is the best-known implementation of blockchain, and it is basically the implementation of a
            cryptocurrency. However, blockchain is much more than that, being seen as the service and structure behind
            cryptocurrencies to maintain records for currency transactions between untrusted participants.
          </p>

          <p class="p3">
            Nowadays, in addition to cryptocurrencies (hundreds of currencies exist today that use blockchain technology
            or derivatives), many other application areas rely on blockchain technology like energy trading, health,
            supply chain, manufacturing, identity management, e-government, etc.
          </p>

          <p class="p4">
            Blockchain presents itself as a distributed ledger, referring this concept to the way a database is shared
            between several participants on a peer-to-peer network, without a central authority overseeing the process.
          </p>

          <p class="p5">
            In the case of blockchain, this ledger is arranged, as its name suggests, in an ordered chain of blocks,
            each of which agglutinates transactions in order. A block, therefore, is basically a structure composed of a
            header and a body containing transactions in order. Blocks are timestamped and signed by its creator. The
            way these blocks constitute a chain is through a pointer to the previous block; the header of each block
            contains a cryptographic hash of the previous block so that a block is linked to the previous one (while
            ensuring the immutability of that previous block). The very first block from which a blockchain is
            constituted is known as the “genesis block”.
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="Video-Container">
    <div class="row">
      <div class="blockchain-video">
        <video controls #myVideo>
          <source src="/assets/blockchain.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="player-buttons" (click)="playVideo(myVideo)" *ngIf="!isPlay"></div>
      </div>
    </div>
  </div>

  <div class="Problems-Container">
    <div class="row pro_c">
      <div class="col-6">
        <div class="problems">
          <p class="head1">Problems solved</p>

          <div class="t1">
            <i class="fa fa-check"></i>
            <p class="p11">Documents that is printed out on papers needs to be sent Via Express Delivery Companies which
              is Time and Money consuming
            </p>
          </div>

          <div class="t2">
            <i class="fa fa-check"></i>
            <p class="p12">It takes ages to receive a document in a conventional way as each Document (B/L) travels with
              at least 3 carrier services and is in transit from 5-10 Days
            </p>
          </div>

          <div class="t3">
            <i class="fa fa-check"></i>
            <p class="p13">The Original Document can get lost or even Stolen because of that additional costs arise such
              as late arrival and in some cases total factory downtime.
            </p>
          </div>

        </div>
      </div>

      <div class="col-4">
        <div class="problemsPic">
          <img src="/assets/pcs.png" />
        </div>
      </div>

    </div>

  </div>

  <div class="Benefits-Container">

    <div class="row">
      <div class="col-12">
        <div class="title">
          <p class="p_title">Benefits Overview</p>
        </div>
      </div>
    </div>

    <div class="row benefit_first_row">
      <div class="col-4">
        <div class="trustfulContainer">
          <img src="/assets/trust.png" class="trustPic" />
          <p class="trust_title">Trustful</p>
          <p class="trust_content">Access a complete document audit trail
            anytime and anywhere.
          </p>
        </div>
      </div>

      <div class="col-4">
        <div class="secureContainer">
          <img src="/assets/secure.png" class="securePic" />
          <p class="secure_title">Secure</p>
          <p class="secure_content">Documents can't be stolen, intercepted,
            modified, lost, or hacked.
          </p>
        </div>
      </div>

      <div class="col-4">
        <div class="decentralizedContainer">
          <img src="/assets/decentralized.png" class="decentralizedPic" />
          <p class="decentralized_title">Decentralized</p>
          <p class="decentralized_content">The Ethereum public blockchain is the world’s most trusted tool
            for transferring, recording, and declaring ownership.
          </p>
        </div>
      </div>
    </div>

    <div class="row benefit_second_row">
      <div class="col-4">
        <div class="fastContainer">
          <i class="fa fa-tachometer fastPic"></i>
          <!-- <img src="/assets/fast.jpg" class="fastPic" /> -->
          <p class="fast_title">Fast</p>
          <p class="fast_content">Transfer documents with blockchain in seconds,
            instead of weeks needed for paper delivery.
          </p>
        </div>
      </div>

      <div class="col-4">
        <div class="userFriendlyContainer">
          <img src="/assets/userFriendly.png" class="userFriendlyPic" />
          <p class="userFriendly_title">User Friendly</p>
          <p class="userFriendly_content">Simple to use - just like using email - with short
            on-boarding times, and simplified workflows.
          </p>
        </div>
      </div>

      <div class="col-4">
        <div class="transparentContainer">
          <img src="/assets/transparent.png" class="transparentPic" />
          <p class="transparent_title">Transparent</p>
          <p class="transparent_content">All relevant parties can always see which account is
            the current holder of the document.
          </p>
        </div>
      </div>

    </div>

  </div>

  <div class="footer_animation">
    <img src="/assets/2020.png">
  </div>

  <div class="Footer-Container">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" viewBox="0 0 1680 40" class="position-absolute top-0 width-full mt-n1-fluid" style="transform: scaleY(-1);"><path d="M0 40h1680V30S1340 0 840 0 0 30 0 30z" fill="#eeeeee"></path></svg>
    <div class="row">
      <div class="col-4 first_column">
        <p class="f_title">ArchIsec</p>
        <p class="f_l1">Home</p>
        <p class="f_l2">Company</p>
        <p class="f_about">About Us</p>
        <p class="f_contact">Contact Us</p>
        <p class="f_team">Team</p>
        <p class="f_l3">Why Use ArchISec Platform?</p>
      </div>
      <div class="col-4 second_column">
        <p class="f_title">Others</p>
        <p class="f_l1">Terms and Conditions</p>
        <p class="f_l2">Privacy Policy</p>
      </div>
      <div class="col-4 third_column">
        <p class="f_title">Follow Us</p>
        <p class="f_l1"><i class="fa fa-facebook"></i><span>Facebook</span></p>
        <p class="f_l2"><i class="fa fa-linkedin"></i><span>LinkedIn</span></p>
        <p class="f_l3"><i class="fa fa-twitter"></i><span>Twitter</span></p>
        <p class="f_l4"><i class="fa fa-medium"></i><span>Medium</span></p>
        <p class="f_l5"><i class="fa fa-reddit"></i><span>Reddit</span></p>
      </div>
    </div>
  </div>

  <div class="Footer">
    <div class="row">
      <div class="col-12 container">
        <p>Copyright © 2020 ArchIsec. All rights reserved.</p>
      </div>
    </div>
  </div>

</div>
