<div class="login_page">
  <mat-toolbar class="above_page_line">
  </mat-toolbar>

  <div class="page_footer">
  </div>

  <div class="main_login_form">
    <div class="logo">
      <img src="/assets/company_logo.png" />
      <p>Login Form</p>
    </div>

    <div class="login_card container">
      <div class="row">

        <div class="col-sm-9">
          <form class="login-form">

            <div class="emailContainer">
              <span class="emailRequired"> * </span> <input type="email" class="form-control" placeholder="Email" id="InputEmail1"
                aria-describedby="emailHelp">
            </div>

            <div class="passwordContainer">
              <span class="passRequired"> * </span><input type="password" class="form-control" placeholder="Password" id="InputPassword1" aria-describedby="passwordHelp" />
            </div>

            <div class="buttonsContainter">
              <button type="button" class="btn loginBtn">Login</button>
              <button type="button" class="btn forgetBtn">Forget Password</button>
            </div>
          </form>
        </div>

        <div class="col-sm-3 rightDiv">
          <img src="/assets/login-people.png" class="lock-pic" />
        </div>

      </div>
    </div>

  </div>
</div>
